<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<style>
    Body{
  background-image: linear-gradient(#2133b0,#ffc3a0);}
</style> 
<div>
   <div class="row">
       <div class="column">
           <img src="./Assets/Images/serivce1.png" alt="HTML" height="200" width="200">
           <p>HTML</p>
       </div>

       <div class="column">
           <img src="./Assets/Images/service2.jpg" alt="Java" height="200" width="200">
           <p>Java Project</p>
       </div>

       <div class="column">
           <img src="./Assets/Images/service3.png" alt="Javascript" height="200" width="200">
           <p>Javascript Project</p>
       </div>
       <button class="open-button" onclick="openForm()">For any Concern Email US Now!</button>
        <div class="chat-popup" id="myForm">
            <form action="mailto:patelamir32003@gmail.com" class="form-container">
                <label for="msg"><b>Email us now!</b></label>
                <textarea class="chat" placeholder="Type message.." name="msg" required></textarea>
    
                <button type="submit" class="btn">Send</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
            <script>
                function openForm() {
                    document.getElementById("myForm").style.display = "block";
                }
    
                function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                }
            </script>
    
        </div>   
   </div>
   

  

